@font-face {
  font-family: 'scatter';
  src: url('../font/scatter.eot?99857604');
  src: url('../font/scatter.eot?99857604#iefix') format('embedded-opentype'),
       url('../font/scatter.woff2?99857604') format('woff2'),
       url('../font/scatter.woff?99857604') format('woff'),
       url('../font/scatter.ttf?99857604') format('truetype'),
       url('../font/scatter.svg?99857604#scatter') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'scatter';
    src: url('../font/scatter.svg?99857604#scatter') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "scatter";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-flag:before { content: '\e803'; } /* '' */
.icon-down-small:before { content: '\e804'; } /* '' */
.icon-left-small:before { content: '\e805'; } /* '' */
.icon-right-small:before { content: '\e806'; } /* '' */
.icon-up-small:before { content: '\e807'; } /* '' */
.icon-check:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-minus:before { content: '\e80b'; } /* '' */
.icon-help:before { content: '\e80c'; } /* '' */
.icon-info:before { content: '\e80d'; } /* '' */
.icon-lock:before { content: '\e80e'; } /* '' */
.icon-lock-open:before { content: '\e80f'; } /* '' */
.icon-pencil:before { content: '\e810'; } /* '' */
.icon-trash:before { content: '\e811'; } /* '' */
.icon-attention:before { content: '\e812'; } /* '' */
.icon-up-open-big:before { content: '\e813'; } /* '' */
.icon-right-open-big:before { content: '\e814'; } /* '' */
.icon-left-open-big:before { content: '\e815'; } /* '' */
.icon-down-open-big:before { content: '\e816'; } /* '' */
.icon-dot-3:before { content: '\e817'; } /* '' */
.icon-clock:before { content: '\e818'; } /* '' */
.icon-eye:before { content: '\e819'; } /* '' */
.icon-eye-off:before { content: '\e81a'; } /* '' */
.icon-arrows-ccw:before { content: '\e81b'; } /* '' */
.icon-globe:before { content: '\e81c'; } /* '' */
.icon-cloud:before { content: '\e81d'; } /* '' */
.icon-heart-1:before { content: '\e81e'; } /* '' */
.icon-heart-filled:before { content: '\e81f'; } /* '' */
.icon-star-1:before { content: '\e820'; } /* '' */
.icon-star-filled:before { content: '\e821'; } /* '' */
.icon-up-outline:before { content: '\e822'; } /* '' */
.icon-right-outline:before { content: '\e823'; } /* '' */
.icon-left-outline:before { content: '\e824'; } /* '' */
.icon-down-outline:before { content: '\e825'; } /* '' */
.icon-cog-1:before { content: '\e826'; } /* '' */
.icon-attention-circled:before { content: '\e827'; } /* '' */
.icon-network:before { content: '\e828'; } /* '' */
.icon-at:before { content: '\e829'; } /* '' */
.icon-globe-1:before { content: '\e82a'; } /* '' */
.icon-keyboard-1:before { content: '\e82b'; } /* '' */
.icon-user:before { content: '\e82c'; } /* '' */
.icon-user-add:before { content: '\e82d'; } /* '' */
.icon-user-delete:before { content: '\e82e'; } /* '' */
.icon-users:before { content: '\e82f'; } /* '' */
.icon-emo-coffee:before { content: '\e830'; } /* '' */
.icon-flow-tree:before { content: '\e831'; } /* '' */
.icon-folder:before { content: '\e832'; } /* '' */
.icon-folder-open:before { content: '\e833'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-key:before { content: '\e835'; } /* '' */
.icon-qrcode:before { content: '\e836'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */