@font-face {
  font-family: 'sidebar';
  src:  url('fonts/sidebar.eot?6f1pjw');
  src:  url('fonts/sidebar.eot?6f1pjw#iefix') format('embedded-opentype'),
    url('fonts/sidebar.ttf?6f1pjw') format('truetype'),
    url('fonts/sidebar.woff?6f1pjw') format('woff'),
    url('fonts/sidebar.svg?6f1pjw#sidebar') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sidebar-"], [class*=" sidebar-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sidebar' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar-sidebar_assets:before {
  content: "\e901";
  
}
.sidebar-sidebar_ridl:before {
  content: "\e90c";
  
}
.sidebar-sidebar_apps:before {
  content: "\e900";
  
}
.sidebar-sidebar_contacts:before {
  content: "\e902";
  
}
.sidebar-sidebar_exchange:before {
  content: "\e903";
  
}
.sidebar-sidebar_history:before {
  content: "\e904";
  
}
.sidebar-sidebar_identities:before {
  content: "\e905";
  
}
.sidebar-sidebar_items:before {
  content: "\e906";
  
}
.sidebar-sidebar_networks:before {
  content: "\e907";
  
}
.sidebar-sidebar_receive:before {
  content: "\e908";
  
}
.sidebar-sidebar_send:before {
  content: "\e909";
  
}
.sidebar-sidebar_settings:before {
  content: "\e90a";
  
}
.sidebar-sidebar_wallet:before {
  content: "\e90b";
  
}
