// Helpers
$menuheight:40px;
$quickactionsheight:135px;
$quickactionsbuffer:45px;

$fullheight:calc(100vh - #{$menuheight});
$quickheight:calc(100vh - #{$menuheight} - #{$quickactionsheight - #{$quickactionsbuffer}});
$quickheightnobuffer:calc(100vh - #{$menuheight} - #{$quickactionsheight});
$radius:4px;


// Font-sizes
$large:14px;
$medium:12px;
$small:10px;
$tiny:9px;

// Colors
$white:#fff;
$lightestblue: #b1e5ff;
$lighterblue: #5fc6ff;
$lightblue: #39b4ff;
$blue:#0799ff;
$darkblue: #0888f2;
$darkerblue: #0778dd;
$mid-light-blue: #eef2ff;
$light-blue:#f3faff;
$green: #1CCA02;
$darkgreen: #159F00;
$lightestgrey: #f7fafb;
$lightergrey:#f3f6f7;
$lightgrey:#dfe0e1;
$grey: #c8c8c8;
$silver:#7a7a7a;
$red: #ff0707;
$black:#333;

// Gradients
$blue-gradient:linear-gradient(170deg, #007fd7 0%,#00a8ff 100%);
$blue-gradient-completer:linear-gradient(135deg, #0095ed 0%,#00a8ff 100%);;

// Shadows
$blue-shadow:rgba(7,155,232,0.23);
$complex-shadow:0 10px 12px 0 rgba(8,79,129,0.10), 0 2px 2px 0 rgba(10,69,100,0.06);








// DEPRECATED

$dark-grey: #525252;
$mid-dark-grey: #9b9b9b;
$medium-grey:#b1b1b1;
$mid-light-grey:#d1d1d1;
$light-grey: #f2f2f2;
$lighter-grey: #f6f6f6;
$link:#00A8FF;
$link-border: rgba(0, 168, 255, 0.17);

$placeholder-color:rgba(0,0,0,0.25);

//$blue-grad:linear-gradient(-180deg, #62D0FD -20%, #39ADFF 100%);
$blue-grad:linear-gradient(-180deg, #61667d -20%, #50556c 100%);
$reverse-gradient:linear-gradient(-180deg, #2c2f3f -10%, #4f5469 120%);
$red-gradient:linear-gradient(-180deg, $red -20%, #e23b3b 100%);
$dark-gradient:linear-gradient(-180deg, #202333 -10%, #131521 120%);
$white-gradient:linear-gradient(-180deg, #f4f4f4 -10%, #cbcbcb 120%);

$border-standard:rgba(0,0,0,0.08);


$breakpoint-mobile:        600px;
$breakpoint-tablet:        920px;
$breakpoint-small-desktop: 1200px;
$breakpoint-large-desktop: 1600px;

$win-height:calc(100vh - 160px);