@keyframes slowbounce {
  0%, 100% {
    transform:translateY(0px);
  }
  50% {
    transform:translateY(-4px);
  }
}


@keyframes pulsate {
  0%, 100% { transform:scale(1); }
  50% { transform:scale(1.2); }
}

.spin, .animate-spin { animation: spin 0.65s linear infinite; }
@keyframes spin {
  0% { transform:rotateZ(0deg); }
  100% { transform:rotateZ(360deg); }
}

.bounce-right { animation: bounce-right 1s ease infinite; }
@keyframes bounce-right {
  0%, 100% { transform:translateX(-2px); }
  50% { transform:translateX(2px); }
}

.fade-enter-active, .fade-leave-active {
  //transition: opacity .1s;
  //transition-delay: 0.1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}