@import "./variables";
@import "./chartist-settings";
@import "./chartist";

.ct-chart-line {
  height:180px;
}

.ct-label {
  color: #ffffff;
  font-weight: bold;

  &.ct-vertical {
    &.ct-start {
      text-align:left;
      justify-content: flex-start;

      &.the-last-of-the-labels {
        //margin-left:-30px;
      }
    }
  }

  &.ct-horizontal {
    font-size: 9px;
    margin-top:5px;

    &.the-last-of-the-labels {
      //margin-left:-30px;
    }
  }
}

.ct-grid {


  &.ct-vertical {
    stroke:transparent;
    stroke-dasharray: 0;
  }

  &.ct-horizontal {
    display:none;
  }
}

.ct-series-a {
  .ct-line {
    stroke:rgba(255,255,255,0.9);
    stroke-width: 3.5px;
    stroke-linecap: round;
  }

  .ct-area {
    fill: url(#gradient) !important;
  }

  .ct-point {
    cursor: pointer;
    stroke: $lightgrey;
    stroke-opacity: 0;
    stroke-width: 30px;
    position: relative;


    &:hover {
      stroke:$blue;
      stroke-opacity: 0.6;
    }
  }
}