@import "./variables";

.pop-ins {

  .pop-in {
    display:flex;
    justify-content: center;
    align-items: center;
    height:$fullheight;
    text-align:center;

    .icon {
      width:120px;
      height:120px;
      margin:0 auto;
      margin-bottom:30px;
    }

    .title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom:10px;
    }

    .subtitle {
      font-size: $small;
    }

    .disclaimer {
      border:2px solid $red;
      padding:20px;
      border-radius:$radius;
      max-width:300px;
      margin:0 auto;
      margin-top:40px;

      .title {
        font-size: $medium;
        color:$red;
      }

      .description {
        font-size: $small;
      }
    }

  }

}

