@import "./variables";

.pop-ins {
  width:100%;

  .overlay {
    width:500px;
    margin:0 auto;


    &.wide {
      width:80%;
    }


    .panel {
      padding:10px;

      &.centered {
        padding:20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .input {
        margin-bottom:10px;
      }

      button {
        width:100%;
        max-width:none;
      }
    }
  }

  .fullscreen {

    .head {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align:center;

      .icon {
        width:70px;
        height:70px;
        border-radius:50%;
        border:1px solid #d4d4d4;
        color:$red;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-bottom:20px;
      }

      .title {
        font-size: 24px;
        max-width:400px;
      }

      p {
        max-width:600px;
        margin-top:10px;
      }

    }

    .disclaimer {
      max-width:600px;
    }

    .list {
      max-width:700px;
      width:100%;
      text-align:left;
      margin:0 auto;

    }


    .resource-moderator {
      width:100%;
      max-width:600px;
    }




  }


}

