@import "./variables";

.pop-over {
  background:$white;
  border-radius:$radius;
  overflow:hidden;
  box-shadow:0 2px 5px rgba(0,0,0,0.2), 0 8px 25px rgba(0,0,0,0.2);
  position: relative;


  .scroller {
    height:calc(100vh - 40px - 100px - 70px);
    overflow-y: scroll;
  }
}

.pop-ins {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

  .pop-in {
    display:flex;
    justify-content: center;
    align-items: center;
    height:$fullheight;
    text-align:center;
    width:100%;

    .icon {
      width:120px;
      height:120px;
      margin:0 auto;
      margin-bottom:30px;
      margin-top:-50px;

      &.font {
        width:90px;
        height:90px;
        font-size: 48px;
        box-shadow:0 1px 2px $blue-shadow, 0 8px 20px $blue-shadow;
        border-radius:50%;
        display:flex;
        justify-content: center;
        align-items: center;
        color:$blue;
        margin-bottom:20px;
      }
    }

    .title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom:10px;
    }

    .subtitle {
      font-size: $small;
      color:$silver;
    }

    .disclaimer {
      border:2px solid $red;
      padding:20px;
      border-radius:$radius;
      max-width:300px;
      margin:0 auto;
      margin-top:40px;

      .title {
        font-size: $medium;
        color:$red;
      }

      .description {
        font-size: $small;
      }
    }

  }

}

