@import "./variables";

.popout {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border:1px solid #dadada;
  overflow:hidden;

  > section {
    display: flex;
    flex-direction: column;
    flex:1;
  }


  .multi-pane {
    display: flex;
    flex-direction: row;
    flex:1;

    background:#fafafa;

    .main-panel {
      position: relative;
      display: flex;
      flex-direction: column;
      flex:1;
      width:calc(100% - 320px);
    }

    .side-panel {
      width:calc(100% - 420px);
      padding:10px 30px 40px;
      display:flex;
      flex-direction: column;
      overflow:auto;
      flex:0 0 auto;
    }

    .side-bar {
      cursor: pointer;
      height:calc(100vh - 70px);
      width:20px;
      background:$secondary;
      border-left:1px solid $primary;
      display:flex;
      justify-content: center;
      align-items: center;
      color:#fff;
      font-size: 11px;
      padding-right:3px;
    }
  }


  .participants {
    padding:0 30px;
    text-align:center;
    margin-top:20px;

    &.top-less {
      margin-top:-25px;
    }

    .participant {
      font-size:11px;
      color:#fff;
      border-radius:4px;
      border:1px solid $primary;
      background:$secondary;
      display:inline-block;
      padding:3px 6px;

      span {
        background:$primary;
        padding:2px 5px;
        display: inline-block;
        margin-left:10px;
        margin-right:-2px;
        border-radius:4px;
        font-size: 9px;
      }
    }
  }

  .info-line {
    padding:0 30px;
    margin:25px 0 10px;
    text-align:center;
    position:relative;
    height:24px;

    span {
      display:inline-block;
      padding:0 20px;
      height:24px;
      line-height:24px;
      background:#fafafa;
      font-size:16px;
      position: relative;
      z-index:1;
    }

    &:after {
      content:'';
      display:block;
      height:1px;
      position:absolute;
      left:30px;
      right:30px;
      top:12px;
      background:rgba(0,0,0,0.1);
      z-index:0;


    }
  }

  .fixed-actions {
    position:absolute;
    bottom:0;
    left:0;
    right:0;

    padding:30px;

    button {
      &:not(:last-child){
        margin-bottom:5px;
      }
    }
  }


}

