@import "./variables";

.popout {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow:hidden;
  height:calc(100vh - 40px);

  .popout-window {
    border:1px solid #dadada;
    border-top:0;
    height:calc(100vh - 40px);
  }


  > section {
    display: flex;
    flex-direction: column;
    flex:1;
  }




  .multi-pane {
    display: flex;
    flex-direction: row;
    flex:1;
    height:calc(100vh - 90px);

    .main-panel {
      position: relative;
      display: flex;
      flex-direction: column;
      flex:1;
      width:calc(100% - 320px);
      border-right:1px solid $lightgrey;
    }

    .side-panel {
      width:calc(100% - 420px);
      display:flex;
      flex-direction: column;
      overflow:auto;
      flex:0 0 auto;
      background:$lightestgrey;
      position: relative;

      height:calc(100vh - 41px);

      .messages-scroller {
        height:calc(100vh - 91px);
        overflow-y:scroll;
        padding:0 30px 80px;
      }

      .whitelist-bar {
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        height:50px;

        z-index:2;
        background:$white;
        border-top:1px solid $lightgrey;

        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:10px 10px 10px 20px;

        .text {
          font-size: $small;
          font-weight: bold;
          padding-right:50px;

          &.blue {
            color:$blue;
          }
        }

        .switch {
          flex:0 0 auto;
        }
      }
    }

    .side-bar {
      cursor: pointer;
      height:calc(100vh - 70px);
      width:20px;
      background:$secondary;
      border-left:1px solid $blue;
      display:flex;
      justify-content: center;
      align-items: center;
      color:#fff;
      font-size: 11px;
      padding-right:3px;
    }
  }


  .participants {
    padding:0 30px;
    text-align:center;
    margin-top:30px;

    .more-participants {
      font-size: $small;
      margin-top:5px;
      text-decoration: underline;
      cursor: pointer;
    }

    label {
      display:block;
      color:$blue;
    }

    .participant {
      font-size:$medium;
      border-radius:4px;
      border:1px solid $lightgrey;
      background:$lightergrey;
      display:inline-block;
      padding:6px 10px;

      &:not(:first-child){
        margin-top:3px;
      }
    }
  }

  .info-line {
    padding:0 30px;
    margin:25px 0 10px;
    text-align:center;
    position:relative;
    height:24px;

    span {
      display:inline-block;
      padding:0 20px;
      height:24px;
      line-height:24px;
      background:#fafafa;
      font-size:16px;
      position: relative;
      z-index:1;
    }

    &:after {
      content:'';
      display:block;
      height:1px;
      position:absolute;
      left:30px;
      right:30px;
      top:12px;
      background:rgba(0,0,0,0.1);
      z-index:0;


    }
  }

  .fixed-actions {
    position:absolute;
    bottom:0;
    left:0;
    right:0;

    padding:30px;

    .accept-deny {
      display:flex;
      justify-content: space-between;
    }
  }


}

