@import "./variables";

div, figure, section, nav, article, input, textarea {
  padding:0; margin:0; box-sizing: border-box;
  font-family: 'Helvetica','Segoe UI','Roboto', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}

html, body {
  height:100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::after, *::before {
  //-webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

body {
  padding:0;
  margin:0;
  word-break: break-word;
  font-family: 'Helvetica','Segoe UI','Roboto', sans-serif;
  background:transparent;
  color:#393d3f;
  animation: FadeIn 0.6s forwards;
}

a {
  display:inherit;
  text-decoration: inherit;
  color:inherit;
}

h1, h2, h3, h4, h5 { margin:0; }

h1 { font-size: 24px; margin-bottom:20px; }
h2 { font-size: 20px; margin-bottom:20px; }
h3 { font-size: 18px; margin-bottom:20px; }

p {
  font-size: $small;
}

input {
  background:transparent;
  border:1px solid $border;
  height:44px;
  width:100%;
  outline:0;
  border-radius:$radius;
  padding:0 15px;

  &:not(:first-child){
    margin-top:5px;
  }

  &.center {
    text-align: center;
  }
}










.center-panel {
  max-width:400px;
  margin:0 auto;
  text-align:center;
}




