@import "./variables";

div, figure, section, nav, article, input, textarea {
  padding:0; margin:0; box-sizing: border-box;
  font-family: 'Helvetica','Segoe UI','Roboto', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}

html, body {
  height:100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::after, *::before {
  //-webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

body {
  padding:0;
  margin:0;
  word-break: break-word;
  font-family: 'Helvetica','Segoe UI','Roboto', sans-serif;
  background:transparent;
  color:#393d3f;
  animation: FadeIn 0.6s forwards;
}

a {
  display:inherit;
  text-decoration: inherit;
  color:inherit;
}

h1, h2, h3, h4, h5 { margin:0; }

h1 { font-size: 24px; margin-bottom:20px; }
h2 { font-size: 20px; margin-bottom:20px; }
h3 { font-size: 18px; margin-bottom:20px; }

p {
  font-size: $small;
}

input {
  background:transparent;
  border:1px solid $border;
  height:44px;
  width:100%;
  outline:0;
  border-radius:$radius;
  padding:0 15px;

  &:not(:first-child){
    margin-top:5px;
  }

  &.center {
    text-align: center;
  }
}




.split-inputs {
  display:flex;
  align-items: center;

  > section, > button {
    &:not(:first-child){
      margin-left:10px;
    }
  }
}


.panel-switch {
  height:60px;
  width:100%;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  transition:all 0.08s ease;
  transition-property: height;
  margin-bottom:20px;

  .button {
    height:38px;
    line-height:38px;
    font-weight: bold;
    color:$mid-dark-grey;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    transition:all 0.08s ease;
    transition-property: color, height, line-height;

    &:not(:last-child) {
      margin-right:40px;
    }

    &:after {
      content:'';
      display:block;
      position:absolute;
      bottom:-10px;
      left:0;
      right:0;
      background:$blue;
      height:2px;
      z-index:2;
      opacity:0;
      transition:all 0.08s ease;
      transition-property: opacity;
    }

    &:hover {
      color:$dark-grey;
    }

    &.active {
      color:$blue;

      &:after { opacity:1; }

    }

  }

  &:after {
    content:'';
    display:block;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    border-bottom:2px solid $border-standard;
  }
}

label {
  font-size: 14px;
  color:#7899a6;
  font-weight: bold;
  margin-bottom:8px;
  display: flex;

  span {
    flex:2;

    &:nth-child(2) {
      flex:1;
      cursor: pointer;
      text-align:right;
      text-decoration: underline;

      &:hover {
        color:$blue;
      }
    }
  }

  &.error {
    color:$red;
    animation: blink 1s ease infinite;
  }


}





.center-panel {
  max-width:400px;
  margin:0 auto;
  text-align:center;
}




