@import "./variables";

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}
 
::-webkit-scrollbar-track {
    background:rgba(0,0,0,0.06);
    border-radius: 10px;
    padding:2px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:rgba(0,0,0,0.24);
}

div, figure, section, nav, article, input, textarea {
  padding:0; margin:0; box-sizing: border-box;
  font-family: 'Helvetica','Segoe UI','Roboto', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}

html, body {
  height:100%;
  background:$white;
}

hr {
  border:0;
  width:100%;
  background:$lightgrey;
  height:1px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::after, *::before {
  user-select: none;
  //-webkit-user-drag: none;
  //-webkit-app-region: no-drag;
}

.selectable {
  user-select: text;
}

body {
  padding:0;
  margin:0;
  word-break: break-word;
  font-family: 'Helvetica','Segoe UI','Roboto', sans-serif;
  background:transparent;
  color:#393d3f;
  animation: FadeIn 0.6s forwards;
}

a {
  display:inherit;
  text-decoration: inherit;
  color:inherit;
}

h1, h2, h3, h4, h5 { margin:0; }

h1 { font-size: 24px; margin-bottom:20px; }
h2 { font-size: 20px; margin-bottom:20px; }
h3 { font-size: 18px; margin-bottom:20px; }

p {
  font-size: $small;
}

input {
  background:transparent;
  border:1px solid $lightgrey;
  height:44px;
  width:100%;
  outline:0;
  border-radius:$radius;
  padding:0 15px;

  &:not(:first-child){
    margin-top:5px;
  }

  &.center {
    text-align: center;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:hover, &:focus {
    border:1px solid $blue;
  }
}


.or {
  position: relative;
  margin:20px 0;

  .text {
    font-size: $medium;
    font-weight: bold;
    padding:0 20px;
    background:$white;
    display:inline-block;
    color:$grey;
  }

  &:before {
    content:'';
    display:block;
    background:$lightgrey;
    height:1px;
    position:absolute;
    top:8px;
    left:0;
    right:0;
    z-index:-1;
  }
}


.tooltip {
  z-index: 10000;
  padding:5px 10px;
  background:$blue;
  border-radius:4px;
  color:#fff;


  .left-start {
    margin-right:10px;
  }
}


.section-title {
  color:$grey;
  margin-bottom:20px;
  font-size: $large;
  font-weight:bold;
  color: #141616;
}

.split-inputs {
  display:flex;
  align-items: center;

  > section, > button {
    &:not(:first-child){
      margin-left:10px;
    }
  }
}

.split-flex {
  display:flex;
  justify-content: space-between;
}


.panel-switch {
  height:60px;
  width:100%;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  transition:all 0.08s ease;
  transition-property: height;
  margin-bottom:20px;

  .button {
    height:38px;
    line-height:38px;
    font-weight: bold;
    color: $lightgrey;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    transition:all 0.08s ease;
    transition-property: color, height, line-height;

    &:not(:last-child) {
      margin-right:40px;
    }

    &:after {
      content:'';
      display:block;
      position:absolute;
      bottom:-10px;
      left:0;
      right:0;
      background:$blue;
      height:2px;
      z-index:2;
      opacity:0;
      transition:all 0.08s ease;
      transition-property: opacity;
    }

    &:hover {
      color:$silver;
    }

    &.active {
      color:$blue;

      &:after { opacity:1; }

    }

  }

  &:after {
    content:'';
    display:block;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    border-bottom:2px solid $border-standard;
  }
}

label {
  font-size: 14px;
  color:#7899a6;
  font-weight: bold;
  margin-bottom:8px;
  display: flex;

  span {
    flex:2;

    &:nth-child(2) {
      flex:1;
      cursor: pointer;
      text-align:right;
      text-decoration: underline;

      &:hover {
        color:$blue;
      }
    }
  }

  &.error {
    color:$red;
    animation: blink 1s ease infinite;
  }


}




.limit-width {
  max-width:1280px;
  margin:0 auto;
}

.limit-800 {
  max-width:800px;
  margin:0 auto;
}


.center-panel {
  max-width:400px;
  margin:0 auto;
  text-align:center;
}


.badge-item {
  display:flex;
  margin-bottom:15px;
  padding-bottom:10px;

  .badge {
    background:$white;
    width:60px;
    height:60px;
    border-radius:50%;
    box-shadow:0 1px 2px $blue-shadow, 0 4px 6px $blue-shadow;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: relative;
    color:$silver;
    border:0 solid transparent;
    margin-right:20px;

    transition: all 0.2s ease;
    transition-property: background, color, box-shadow, border;

    &.small {
      font-size: 13px;
    }

    &.iconed {
      font-size: 36px;

      &.small {
        width:40px;
        height:40px;
        font-size: 24px;
      }
    }

    &.unusable {
      background:$blue;
      color:$white;
      border:3px solid $white;
    }

    .locked {
      position:absolute;
      font-size: 18px;
      bottom:-8px;
      text-shadow:0 1px 2px rgba(0,0,0,0.2), 0 1px 16px rgba(0,0,0,0.3), 0 1px 2px $blue-shadow, 0 3px 16px $blue-shadow;
    }
  }

  .details {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: $medium;
      font-weight: bold;
    }

    .row {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;

      &.long {
        flex-direction: column;
      }

      .primary {
        font-size: $small;
        font-weight: bold;
        margin-right:10px;
      }

      .secondary {
        font-size: $small;
        color: $silver;
        margin-right:10px;
      }

      .red {
        color: $red;
        font-weight: bold;
        font-size: $small;
      }
    }
  }

  &.hoverable {
    cursor: pointer;
    padding:15px 20px;
    border-radius:$radius;
    margin-bottom:2px;

    &:hover, &.active {
      background:rgba(0,0,0,0.03);

      .badge {
        background:$blue;
        color:$white;
        border:0 solid transparent;
        box-shadow:inset 0 3px 2px rgba(0,0,0,0.1), 0 0 0 transparent;
      }
    }
  }
}

.action-box {
  border:5px solid $lightergrey;
  border-radius:$radius;
  padding:20px;

  &:not(:last-child){
    margin-bottom:20px;
  }

  p {
    font-size: $small;
  }
}

.greyback {
  padding:40px;
  background: $lightergrey;
}

.whiteback {
  flex:1;
  padding:40px;
}


.type-selector {
  .types {
    display:flex;

    .type {
      width:160px;
      border-radius:$radius;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin:0 20px;
      cursor: pointer;
      border:1px solid $lightgrey;
      padding:30px 0;

      .type-icon {
        font-size: 64px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width:64px;
        }

        img {
          width:64px;
        }
      }

      .type-text {
        margin-top:20px;
        font-size: $large;
        font-weight: bold;
        padding:0 20px;
      }

      .type-desc {
        margin-top:10px;
        font-size: $tiny;
        font-weight: bold;
        padding:0 20px;
      }

      &:hover {
        background:$blue;
        color:$white;
      }

      &.disabled {
        background:$lightestgrey;
        color:$lightgrey;
        cursor: not-allowed;

        .type-icon {
          color:$silver;

          svg {
            fill:$lightgrey;
          }
        }
      }
    }
  }


}

.key-val {

  figure {
    &:first-child {
      font-size: 11px;
      color:#7899a6;
      font-weight: bold;
      margin-bottom:8px;
      display: block;
    }

    &:last-child {

    }

    &.clickable {
      cursor: pointer;
      font-size: 13px;
      color:$blue;
      padding:8px 12px;
      border:1px solid $blue;
      border-radius:4px;
      margin-top:4px;
      margin-bottom:2px;
      display:table;

      &:hover {
        background:$blue;
        color:#fff;
      }
    }
  }
}

.box-title {
    font-size: $tiny;
    font-weight:bold;
    opacity: 0.44;
    color: #141616;
    background: rgba(53,97,120,0.06);
    padding: 8px 10px;
    text-transform:uppercase;
}


