@import 'variables';

.v-step{
    background:#fff;
    color:$black;
    width:330px;
    border-radius:8px;
    padding:20px;
    z-index:999999999;
    box-shadow:0 10px 40px rgba(98, 208, 253, 0.5);
    position: relative;

    div {
        font-size: 20px;
        margin-bottom:10px;
    }

    span {
        font-size: 14px;
    }

    figure {
        position:absolute;
        right:10px;
        top:10px;
        font-size: 18px;
        cursor: pointer;
        pointer-events: none;
        color:rgba(0,0,0,0.3);
    }
}
.v-step .v-step__arrow{
    width:0;
    height:0;
    border-style:solid;
    position:absolute;
    margin:.5rem;
    border-color:#fff;
    box-shadow:0 10px 40px $secondary;
}
.v-step .v-step__arrow--dark{
    border-color:#454d5d
}
.v-step[x-placement^=top]{
    margin-bottom:.9rem
}
.v-step[x-placement^=top] .v-step__arrow{
    border-width:.5rem .5rem 0;
    border-left-color:transparent;
    border-right-color:transparent;
    border-bottom-color:transparent;
    bottom:-.5rem;
    left:calc(50% - 1rem);
    margin-top:0;
    margin-bottom:0
}
.v-step[x-placement^=bottom]{
    margin-top:15px;
}
.v-step[x-placement^=bottom] .v-step__arrow{
    border-width:0 .5rem .5rem;
    border-left-color:transparent;
    border-right-color:transparent;
    border-top-color:transparent;
    top:-.5rem;
    left:calc(50% - 1rem);
    margin-top:0;
    margin-bottom:0
}
.v-step[x-placement^=right]{
    margin-left:.5rem
}
.v-step[x-placement^=right] .v-step__arrow{
    border-width:.5rem .5rem .5rem 0;
    border-left-color:transparent;
    border-top-color:transparent;
    border-bottom-color:transparent;
    left:-.5rem;
    top:calc(50% - 1rem);
    margin-left:0;
    margin-right:0
}
.v-step[x-placement^=left]{
    margin-right:.5rem
}
.v-step[x-placement^=left] .v-step__arrow{
    border-width:.5rem 0 .5rem .5rem;
    border-top-color:transparent;
    border-right-color:transparent;
    border-bottom-color:transparent;
    right:-.5rem;
    top:calc(50% - 1rem);
    margin-left:0;
    margin-right:0
}
.v-step__header{
    margin:-1rem -1rem .5rem;
    padding:.5rem;
    background-color:#454d5d;
    border-top-left-radius:3px;
    border-top-right-radius:3px
}
.v-step__content{

}
.v-step__button{
    opacity:0;
    width:20px;
    height:20px;
    overflow:hidden;
    z-index:2;

    position:absolute;
    right:10px;
    top:10px;
    cursor: pointer;
}
.v-step__button:hover{
    background-color:hsla(0,0%,100%,.95);
    color:#50596c
}
