@import "./variables";
$border:#dfe0e1;

.transfer {

  .icon-right-outline {
    animation:bounce 1s ease infinite;

    @keyframes bounce {
      0%, 100% { transform:translateX(-4px); }
      50% { transform:translateX(4px); color:$red; }
    }
  }

  .full-panel {
    min-height:calc(100vh - 240px);
    display:flex;
    flex-direction: column;
    position: relative;

    &.limited {
      overflow-x:hidden;
    }
  }

  .tokens-out {
    display:flex;
    flex:1;
    height:0;



    .panel {
      flex:1;
      position:relative;
      padding:40px;
      min-height:537px;

      > section {
        flex:1 1 auto;
        margin-bottom:20px;
      }

      .clickable {
        cursor: pointer;
      }

      .unclickable {
        cursor: not-allowed;
      }

      &:nth-child(2){
        background:$reverse-gradient;
        color:#fff;

        .icon-spin4 {
          color:yellow;
        }

        &:before {
          content:'';
          display:block;
          position:fixed;
          right:0;
          top:160px;
          bottom:80px;
          width:40%;
          z-index:-1;

          background:$reverse-gradient;
        }

        &:after {
          content:'';
          display:block;
          position:absolute;
          top:140px;
          bottom:0;
          left:0;

          $arrow:15px;
          width: 0;
          height: 0;
          border-top: $arrow solid transparent;
          border-bottom: $arrow solid transparent;

          border-left: $arrow solid #fff;
        }
      }
    }
  }
}



.box {
  border:1px solid $border;
  border-radius:4px;
  display:flex;
  flex-direction: column;

  &.no-box {
    padding:10px 0;
    border:1px solid transparent;
  }

  .row {
    display:flex;
    align-items: center;
    position:relative;
    padding:20px;

    &.clickable {
      cursor: pointer;
    }

    &.highlighted {
      border-bottom:2px solid $dark-grey !important;
    }

    input {
      border:0;
      outline:0;
      width:100%;
      height:40px;
      font-size: 22px;
      background:transparent;

      &:disabled {
        cursor: inherit;
      }

      &.small {
        font-size: 11px;
        height:14px;
      }

      &.bad {
        color:yellow;
      }
    }

    &.input {
      cursor: default;
      background:#fff;
      border-radius:0 0 4px 4px;
      min-height:80px;

      input {
        height:38px;
        color:$primary;
        font-size: 18px;

        &.small {
          font-size: 13px;
        }
      }
    }

    div {
      &.small {
        font-size: 11px;
        height:12px;

        &.bad {
          color:yellow;
        }
      }
    }

    .fraction {
      margin-right:6px;
      color:$black;
      border:1px solid $border-standard;
      border-radius:3px;
      padding:4px 6px;

      &:hover {
        color:$primary;
      }
    }

    .fill {
      flex:1;
      font-size: 16px;

      div {
        font-size: 14px;
        font-weight: bold;
      }

      &.darker {
        background:rgba(0,0,0,0.05);
      }

      &.pad {
        padding:10px 20px;
      }

      &.no-pad {
        padding:10px 0px;
        border-left:0;
        border-right:0;
        border-bottom:0;
      }
    }

    .icon {
      margin-right:20px;
      width:40px;

      &.small {
        font-size: 11px;
        font-weight: bold;
      }

      &.token-icon {
        font-size: 36px;
      }
    }

    .chevron {
      font-size: 18px;
      transform: rotate(-90deg);

      &.icon-cancel {
        color:yellow;
        font-size: 26px;
        line-height:0;
      }
    }

    &.unpad {
      padding:0;
    }

    &.pad {
      padding:10px 20px;
    }

    &:not(:first-child){
      border-top:1px solid $border;
    }
  }


  &.dark {
    border:0;
    background: $blue-grad;

    &.outlined {
      background:transparent;
      /*border:1px solid rgba(255,255,255,0.2);*/
      box-shadow:inset 0 0 0 1px rgba(255,255,255,0.2);

      .chevron {
        /* align-self: flex-start;*/
      }
    }

    input {
      color:#fff;
    }

    .row {
      &:not(:first-child){
        border-top:1px solid rgba(255,255,255,0.1);
      }
    }
  }


}