$red: #ff4645;
$dark-red: #c33434;

$black:#333;
$dark-grey: #626262;
$mid-dark-grey: #9b9b9b;
$medium-grey:#b1b1b1;
$mid-light-grey:#d1d1d1;
$light-grey: #f2f2f2;
$lighter-grey: #f8f8f8;

$very-light-blue:#f5f6fa;
$light-blue:#62d0fd;
$light-blue-opaque: rgba(98, 208, 253, 0.4);
$light-blue-opaque-2: rgba(98, 208, 253, 0.05);
$dark-blue:#39adff;