@import "_variables.scss";

div, figure, section, nav, article, input, textarea {
  padding:0; margin:0; box-sizing: border-box;
}

html, body {
  height:100%;
}

*, *::after, *::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

body {
  padding:0;
  margin:0;
  word-break: break-word;
  font-family: 'Raleway', sans-serif;
  background:#fff;
  color:#393d3f;
}

a {
  display:inherit;
  text-decoration: inherit;
  color:inherit;
}

$speed:0.1s;
.slide-down-leave-active,
.slide-down-enter-active,
.slide-up-leave-active,
.slide-up-enter-active {
  transition: $speed;
}

.slide-down-enter {         transform: translate(0, 50%);  opacity:0;      }
.slide-down-leave-to {      transform: translate(0, -50%);  opacity:0;     }
.slide-up-enter {        transform: translate(0, -50%);   opacity:0;    }
.slide-up-leave-to {     transform: translate(0, -50%);   opacity:0;     }

.slide-left-leave-active,
.slide-left-enter-active,
.slide-right-leave-active,
.slide-right-enter-active {

  transition: $speed;
}

.slide-left-enter {         transform: translate(-50%, 0);  opacity:0; }
.slide-left-leave-to {  transform: translate(-50%, 0); opacity:0; }
.slide-right-enter {        transform: translate(50%, 0); opacity:0;  }
.slide-right-leave-to {  transform: translate(50%, 0); opacity:0;  }

.fade-leave-active,
.fade-enter-active {

  transition: $speed;
}

.fade-enter { opacity:0; }
.fade-leave-to { opacity:0; }


.tooltip {
  z-index: 10000;
  padding:5px 10px;
  background:$dark-blue;
  border-radius:4px;
  color:#fff;


  .left-start {
    margin-right:10px;
  }
}


.pop-in-head {

  border-top:3px solid $light-blue;

  max-width:600px;
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

  .no-third {
    max-width:calc(100% - 110px) !important;
  }

  section {
    flex:0 0 auto;
    padding:30px;


    &:nth-child(1) {
      width:100px;
      //border-right:1px solid $light-grey;
    }

    &:nth-child(2) {
      text-align:left;
      padding-left:0;
      flex:1;

    }

    &:nth-child(3) {
      padding-left:0;
    }

    button {
      margin:0;
    }

    .bubble-icon {
      display:inline-block;
      height:40px;
      width:40px;
      line-height:40px;
      text-align:center;
      background:$light-grey;
      border-radius:50%;
      color:$mid-dark-grey;
      font-size:14px;

      &.red {
        background:$red;
        color:#fff;
      }
    }

    .title {
      font-size:14px;
      font-weight: bold;
    }

    .description {
      margin-top:8px;
      font-size:12px;
      color:$dark-grey;
    }
  }
}

/* Type Ratio: 1.067 */

h1,h2,h3,h4,h5 {
  font-family: 'Roboto-Light', sans-serif;
  color: #393D3F;
  font-weight:300;
}

h1 {
  font-size: 2.041rem;
  margin: 0 0 1.2rem 0;
}

h2 {
  font-size: 1.913rem;
  margin: 0 0 1.1rem 0;
}

h3 {
  font-size: 1.793rem;
  margin: 0 0 1rem 0;
}

h4 {
  font-size: 1.68rem;
  margin: 0 0 .95rem 0;
}

h5 {
  font-size: 1.575rem;
  margin: 0 0 .9rem 0;
}

p {
  color:#878a8b;
  font-size: 14px;
  line-height:20px;
  margin:0;
}

.full-panel {
  min-height:calc(100vh - 80px);
  width:100%;

  &.center-fold {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .action-bar {
    &.bottom {
      position:fixed;
      bottom:0;
      left:0;
      right:0;
    }
  }
}

.panel-container {
  padding:40px 70px;
}


.action-bar {
  height:90px;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 30px;

  &:not(.bottom){ box-shadow:0 10px 20px rgba(0,0,0,0.03), 0 2px 4px rgba(0,0,0,0.02); }
  &.bottom {      box-shadow:0 -10px 20px rgba(0,0,0,0.03), 0 -2px 4px rgba(0,0,0,0.02); }
  &.centered { justify-content: center; }
  &.short { height:80px; }

  section {
    button {
      display:inline-block;
      width:auto;
    }
  }

}

