@import './_variables.scss';

.v-step{
    background:$black;
    color:#fff;
    max-width:320px;
    border-radius:4px;
    padding:20px;
    text-align:center;
    z-index:999999999;
    font-size: 22px;
}
.v-step .v-step__arrow{
    width:0;
    height:0;
    border-style:solid;
    position:absolute;
    margin:.5rem;
    border-color:$black
}
.v-step .v-step__arrow--dark{
    border-color:#454d5d
}
.v-step[x-placement^=top]{
    margin-bottom:.5rem
}
.v-step[x-placement^=top] .v-step__arrow{
    border-width:.5rem .5rem 0;
    border-left-color:transparent;
    border-right-color:transparent;
    border-bottom-color:transparent;
    bottom:-.5rem;
    left:calc(50% - 1rem);
    margin-top:0;
    margin-bottom:0
}
.v-step[x-placement^=bottom]{
    margin-top:15px;
}
.v-step[x-placement^=bottom] .v-step__arrow{
    border-width:0 .5rem .5rem;
    border-left-color:transparent;
    border-right-color:transparent;
    border-top-color:transparent;
    top:-.5rem;
    left:calc(50% - 1rem);
    margin-top:0;
    margin-bottom:0
}
.v-step[x-placement^=right]{
    margin-left:.5rem
}
.v-step[x-placement^=right] .v-step__arrow{
    border-width:.5rem .5rem .5rem 0;
    border-left-color:transparent;
    border-top-color:transparent;
    border-bottom-color:transparent;
    left:-.5rem;
    top:calc(50% - 1rem);
    margin-left:0;
    margin-right:0
}
.v-step[x-placement^=left]{
    margin-right:.5rem
}
.v-step[x-placement^=left] .v-step__arrow{
    border-width:.5rem 0 .5rem .5rem;
    border-top-color:transparent;
    border-right-color:transparent;
    border-bottom-color:transparent;
    right:-.5rem;
    top:calc(50% - 1rem);
    margin-left:0;
    margin-right:0
}
.v-step__header{
    margin:-1rem -1rem .5rem;
    padding:.5rem;
    background-color:#454d5d;
    border-top-left-radius:3px;
    border-top-right-radius:3px
}
.v-step__content{

}
.v-step__button{
    display:none;
}
.v-step__button:hover{
    background-color:hsla(0,0%,100%,.95);
    color:#50596c
}
